/*Jc Style*/
.nav.navbar.navbar-default {
    background-color: transparent;
    min-height: 80px;
    font-size: 20px;
    color: black;
}

.container-fluid.footer-container {
  display: block;
  bottom: 0;
  clear: both;
  position: absolute;
  text-align: center;
  width: 100%;
  align-self: flex-end;
  bottom: 0;
  left: 0;
  /*padding-top: 30px;*/
  /*padding-bottom: 30px;*/
  /*margin: 30px;*/
  background-color: white;

}

.navbar-brand {
  font-size: 30px;
}

/*Parita Style*/
body{
    background: url(./images/concert07.jpg);
    background-size:100%;
}
html,body{
    margin:0;
    padding:0;
    height:100%;
    width:100%;
}
.intro .inner{
    display:table-cell;
    vertical-align: middle;
    width:100%;
    max-width: none;

}
.content{
    max-width: 500px;
    margin:0 auto;
    text-align: center;
    color:white;
    font-size: 100%;
    

}

.content h1{
    font-family: 
    color:white;
    text-shadow: 5px 5px 10px red;
    font-size: 450%;
}


.intro{
    height:100%;
    width:100%;
    margin:auto;
    display:table;
    top:0;
    background-size: cover;
}
.btn{
    border-radius: 9px;
    font-family:;
    color:white;
    font-size: 150%;
    padding:10px 20px;
    border:solid #036A81 3px;
    text-transform: uppercase;
    text-decoration: none;



}
.btn:hover{
    color:#fff;
    border: solid#fff 3px;
}


audio{
    display: none;

}


@media screen and(max-width:768px){
    .content h1{
        font-size: 250%;
    }
    .btn{
        font-size: 110%;
        padding:7px 15x;
    }
}

#infoDisplayBox {
  color: white;
  /*border-style: solid;
  border-width: 10px;*/
  border-color: white;
  background-color: transparent;
  text-align: center;
  font-size: 175%;
  /*position: fixed;
  bottom: 0;*/
  width: 100%;
/*  margin-bottom: 30px;*/
  padding-left: 40px; 
  padding-right: 40px
  padding-bottom: 500px;
  padding-top: 40px; 
  

  
}

#songDisplayBox {
  color: white;
  /*border-style: solid;
  border-width: 10px;*/
  border-color: white;
  background-color: transparent;
  text-align: center;
 /* padding: 40px;*/
  font-size: 175%;
 padding: 40px; 
}

.panel-heading {
  background-color: transparent;
  color: white;
}

#myCarousel {
  border-color: white;
  color: white;
}

/*
.footer {
  position: center;
  bottom: 0;
}

#trackdata {
  border-height: 30%;
  border-width: : 50%;
}